<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h2>Register</h2>
        <div class='messages'>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Log in</p>
    </body>
</html>